<section class="blogs-list">
  <h1 class="title" title="blogs" [ngStyle]="titleStyle">{{ appname }}</h1>
  <div class="blogs-action">
    <div>
      <form action="">
        <input type="search" placeholder="Search using title" [formControl]="searchField">
        <input type="submit" value="Search">
      </form>
    </div>
    <a routerLink="new" class="btn btn-new">Add New</a>
  </div>
  <div class="blogs">
    <p *ngIf="filteredBlogs.length === 0; else blogList" id="no-blog">No blogs available</p>
    <ng-template #blogList>
      <app-blog
        *ngFor="let blog of filteredBlogs"
        [blogData]="blog"
        [blogLength]="blogs.length"
        [app]="appname"
        (delete)="onDeleteBlog($event)"
        (show)="showBlogDetails($event)"
        (edit)="onEditBlog($event)"
      ></app-blog>
    </ng-template>
  </div>
</section>
