<section class="blogs-list">
  <h1 class="title" [ngStyle]="titleStyle" title="blogs">Blogs</h1>
  <input type="color" [(ngModel)]="titleStyle.color">
  <div class="blogs">
    <p *ngIf="blogs.length === 0; else blogList">No blogs available</p>
    <ng-template #blogList>
      <div class="blog" *ngFor="let blog of blogs" [ngClass]="{'blog--new': blog.isNew}">
        <h3 class="blog__title" [ngClass]="{'mango-class fruit-class': fruit === 'mango', 'summer-fruit': false}" [title]="blog.title" [hidden]="!blog.title" [attr.aria-label]="blog.title">{{ blog.title }}</h3>
        <p class="blog__description" [attr.title]="blog.description">{{ blog.description }}</p>
      </div>
    </ng-template>
  </div>
  <div [ngSwitch]="fruit">
    <ng-container *ngSwitchCase="fruitMango">
      <div>
        <h1>{{ fruit }} is a summer fruit.</h1>
      </div>
    </ng-container>
    <p *ngSwitchCase="'grape'">{{ fruit }} is a spring fruit.</p>
    <p *ngSwitchCase="'banana'">{{ fruit }} is a all season fruit.</p>
    <p *ngSwitchDefault>{{ fruit }} is not known.</p>
  </div>
</section>
