<header class="header">
  <div class="container">
    <nav class="navbar">
      <h1 class="nav-brand">Blog</h1>
      <ul class="nav-bar">
        <li><a [routerLink]="'/'">Home</a></li>
        <li><a [routerLink]="['/blogs']" [queryParams]="{ order: 'desc'}">Blogs</a></li>
      </ul>
    </nav>
    <!-- <button (click)="pushAValue()">Push a value</button> -->
    <!-- <button (click)="getOperations()">Get Operations</button> -->
    <!-- <h1>{{ title }} app is running!</h1>
    <h3 *ngIf="flag">{{ subtitle }}</h3>
    <div class="big-font">{{ flag ? "Flag is true" : "Flag is false" }}</div>
    <input type="text" [name]="inputField" placeholder="Write some text" [(ngModel)]="title" >
    <div><button (click)="handleSubmit(title)">Toggle Flag!</button></div> -->
    <ul>
      <li *ngFor="let op of ops">{{op}}</li>
    </ul>
  </div>
</header>
<main class="main-content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
