:host {
    display: flex;
    flex-direction: column;
}

.blog {
    padding: 1em 1em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.5em 0 0.5em 0;
    position: relative;
    height: 100%;
}
.blog--new::after {
    content: 'New';
    display: inline-block;
    position: absolute;
    width: min-content;
    background-color: red;
    color: white;
    padding: 4px;
    top: 4px;
    left: 4px;
    font-size: 10px;
}
.blog__title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog__description {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 0.8em;
}
.blog__metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__author {
    font-size: 0.75rem;
    color: #999;
}
.blog__publishedat {
    font-size: 0.7rem;
    color: #888;
}
.btn-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.btn-delete > svg {
    width: 14px;
}
.btn-delete > svg > path {
    fill: red;
}
.btn-edit {
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}
.btn-edit > svg {
    width: 16px;
}
.btn-edit > svg > path {
    fill: blue;
}